@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">QQ</h1>
    <p>Этот сайт я сделал для своей системы ArkLens. Для навигации используйте вкладки сверху.</p>
    <p>Чтобы узнать больше можете почитать <a href="https://github.com/MindHardt/Arklens">руководство</a></p>
</div>
