@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">QQ</h1>
    <p>Этот сайт я сделал чтобы ускорить генерацию персонажей. Для навигации используйте вкладки сверху.</p>
</div>
